syntax: glob

## Build and run directories ##
###############################
build*
run*

## Data files ## 
################
*.mat
*.txt
*.meta
*.data
*.bin
*.init
*.obw
*.mdjwf
*.nc

## Zipped directories ##
########################
*.tar.gz
*.tgz
*.gz
*.zip
*.tarz

## Vim ##
########
*.swp
*.swo

## Latex ##
###########
*.aux
*.log
*.backup
*.bak
*.toc
*.vrb
*.bbl
*.blg
*.fls
*.fdb_latexmk

## System ##
############
*.DS_Store

## Figures/Docs/Videos ##
#########################
*.png
*.jpeg
*.pdf
*.avi
*.mp4
*.jpg
*.gif
*.fig
*.mj2

## Modified/old files ##
########################
*~
*.orig
*.mod
*.old
.ipynb_checkpoints
__old__
__pycache__/

## Output ##
############
*.o
*.out
*.exe
*.err

## Project Specific ##
######################
ans_tides_namelists/
pickup*/
*.0000
*.0000.*
tile*.mitgrid
visHelp/
STDOUT.0000*
scr*

## MISC ##
##########
*.asc
ax*
*.nav
*.snm

syntax: regexp
.*\#.*\#$
